/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  width: clamp(375px, 80%, 700px);
  margin: 100px auto;
  padding: clamp(120px, 80%, 128px);
  font-family: var(--accent-font);
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  width: 345px;
  text-align: center;
}

.card-list{
  width: clamp(375px, 80%, 696px);
  margin: 0 auto;
}

.card-list-item {
  border: 2px solid #000;
  margin-bottom: 50px;
}

.card-title {
  font-size: 18px;
  line-height: 21.78px;
  margin: 3px 10px;
}

.card-content {
  margin: 27px 25px 0 25px;
}
