/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: linear-gradient(#e7e7e7, #1a1a1a);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  width: clamp(375px, 80%, 700px);
  margin: 100px auto;
  padding: clamp(120px, 80%, 128px) /*clamp(14px, 80%, 120.5px)*/;
  font-family: var(--accent-font);
}

.header-logo {
  font-size: clamp(49px, 80%, 65px);
}

.header-title {
  font-size: clamp(14px, 80%, 23px);
}
